Airline case study

Consider the airline dataset (AirlineData.csv) attached. This dataset contains observations on airlines and the planes they own and use. Following are the fields in the dataset:

Parent Airline: e.g IAG

Airline: specific airlines that are owned by parent airline

Aircraft Type: Manufacturer & Model

Current: Quantity of airplanes in Operation

Future: Quantity of airplanes on order (to be used in future)

Unit Cost: Average unit cost ($M) of Aircraft Type

Total Cost: Current quantity * Unit Cost ($M)

Average Age: Average age of "Current" airplanes by "Aircraft Type"

Using the dataset and your own analysis, address the following questions:
a) To which airline do the largest current fleet belongs to?

b) Which airline is planning to induct highest number of airplanes?

c) What is generally the distribution of planes (in terms of cost) that the airlines have? You do not have to be very specific here but generally try to find out what proportion of high, low, medium cost planes do airlines have in their fleet? You can try and put planes into high, low, and medium bucket based on their costs.

d) Amongst the new orders, how much of the new orders are for A380 and how many are for Dreamliner 787? Do we see a clear winner here? Also, how many airlines are ordering these planes? Do some airlines have clear preferences for either of these planes?

In [4]:
# Import all the required packages

%matplotlib inline
import matplotlib
import seaborn as sns
from matplotlib import pyplot
import pandas as pd
import numpy as np
matplotlib.style.use('ggplot')
import os
os.chdir('C:/Akash backup UHG/ISB study stuff/Preterm sessions/Final_exam_preterm/Pyhton')

In [8]:
# Read the csv file
df = pd.read_csv('Airline_Data.csv')
df.head()

,Parent Airline,Airline,Aircraft Type,Current,Future,Historic,Total,Orders,Unit Cost,Total Cost (Current),Average Age
0,Aegean Airlines,Aegean Airlines,Airbus A319,1.0,NaN,3.0,4.0,NaN,$90,$90,11.6
1,Aegean Airlines,Olympic Air,Airbus A319,NaN,NaN,8.0,8.0,NaN,$90,$0,NaN
2,Aegean Airlines,Aegean Airlines,Airbus A320,38.0,NaN,3.0,41.0,NaN,$98,"$3,724",7.5
3,Aegean Airlines,Olympic Air,Airbus A320,NaN,NaN,9.0,9.0,NaN,$98,$0,NaN
4,Aegean Airlines,Aegean Airlines,Airbus A321,8.0,NaN,NaN,8.0,NaN,$115,$919,10.3

In [14]:
df.shape

(1583, 11)

In [18]:
# a) To which airline do the largest current fleet belongs to?

df.groupby('Airline')['Current'].sum().nlargest(5)

# we can see that maximum current fleet is 928 belongs to "American airlines"

Airline
American Airlines          928.0
Delta Airlines             855.0
United Airlines            730.0
Southwest Airlines         718.0
China Southern Airlines    522.0
Name: Current, dtype: float64

In [21]:
# b) Which airline is planning to induct highest number of airplanes?

df.groupby('Airline')['Future'].sum().nlargest(5)

# we can see that highest number of airplane which is 38 are being plannned by Southwest Airlines and United Airlines.

Airline
Southwest Airlines    38.0
United Airlines       38.0
FedEx Express         35.0
PSA Airlines          35.0
American Airlines     23.0
Name: Future, dtype: float64

In [91]:
# c) What is generally the distribution of planes (in terms of cost) that the airlines have? 
# You do not have to be very specific here but generally try to find out what proportion of high, low, medium cost 
# planes do airlines have in their fleet? You can try and put planes into high, low, and medium bucket based on their costs.

# Solution:
# clean the 'Total cost' column and make new column cost

def clean_currency(x):
    if isinstance(x, str):
        return(x.replace('$', '').replace(',', ''))
    return(x)
df['cost'] = df['Unit Cost'].apply(lambda x: clean_currency(x)).astype('float')

# Replace the na values with 0
df['cost'].fillna(0,inplace = True)

# Make a function to derive new field "Price range"

def price_range(x):
    if (x['cost'] >= 0) & (x['cost']<=200):
        return 'Low'
    elif (x['cost']>200) & (x['cost']<=300):
        return 'Medium'
    else:
        return 'High'
    
df['price_range'] = df.apply(lambda x: price_range(x),axis=1)
df.head()


df.groupby(['Airline','price_range'])['price_range'].count()

Airline                      price_range
ABX Air                      Low             3
ANA Wings                    Low             3
Aegean Airlines              Low             6
Aer Lingus                   High            2
                             Low            10
                             Medium          1
Aer Lingus Regional          Low             1
AeroUnion                    Low             2
Aeroflot                     High            1
                             Low            15
                             Medium          3
Aerolineas Argentinas        High            1
                             Low             5
                             Medium          2
Aeromexico                   Low             7
                             Medium          2
Aeromexico Connect           Low             3
Aeromexico Express           Low             1
Air Algerie                  High            1
                             Low             8
                             Medium          4
Air Arabia                   Low             1
Air Arabia Egypt             Low             1
Air Arabia Jordan            Low             1
Air Arabia Maroc             Low             1
Air Astana                   Low             8
                             Medium          1
Air Berlin                   Low            11
                             Medium          1
Air Busan                    Low             3
                                            ..
Uni Air                      Low             6
United Airlines              High            2
                             Low             9
                             Medium          2
Up                           Low             1
Urumqi Airlines (70%)        Low             1
Utair                        Low             8
Vanilla Air                  Low             1
Vietnam Air Service Company  Low             1
Vietnam Airlines             High            1
                             Low             8
                             Medium          3
Virgin America               Low             3
Virgin Atlantic Airways      High            1
                             Low             3
                             Medium          3
Virgin Australia             Low             4
                             Medium          2
Virgin Australia Regional    Low             4
Virgin Samoa                 Low             1
Volaris                      Low             3
Vostok Aviation Company      Low             4
Vueling                      Low             3
WestJet                      Low             3
WestJet Encore               Low             1
Widerøe                      Low             3
Wings Air                    Low             3
Wizz Air                     Low             2
easyJet                      Low             5
easyJet - Switzerland        Low             3
Name: price_range, Length: 460, dtype: int64

In [81]:
# answer D

# Amongst the new orders, how much of the new orders are for A380 and how many are for Dreamliner 787? 
# Do we see a clear winner here? 
# Also, how many airlines are ordering these planes? Do some airlines have clear preferences for either of these planes?


lis = ['Airbus A380','Boeing 787 Dreamliner']
new_df = df['Aircraft Type'].isin(lis)

# we can see that Boeing 787 Dreamliner is winner.
new_orders = df[new_df].groupby('Aircraft Type')['Orders'].sum()
new_orders


# these are the airlines that ordered Airbus A380 and Boeing 787 Dreamliner
new = df[new_df]
df_new = new.groupby(['Aircraft Type','Airline'])['Orders'].sum().reset_index()
df_new.head()
df_new[df_new['Orders']>0].sort_values('Orders',ascending =False)

# df_new_all = df.groupby(['Aircraft Type','Airline'])['Orders'].sum().reset_index()
# df_new_all[df_new_all['Orders']>0].sort_values('Orders',ascending =False)

            Aircraft Type                  Airline  Orders
28  Boeing 787 Dreamliner           Etihad Airways    62.0
5             Airbus A380                 Emirates    54.0
37  Boeing 787 Dreamliner      Norwegian Long Haul    32.0
40  Boeing 787 Dreamliner            Qatar Airways    30.0
48  Boeing 787 Dreamliner          United Airlines    29.0
21  Boeing 787 Dreamliner       All Nippon Airways    27.0
42  Boeing 787 Dreamliner          Royal Jordanian    23.0
22  Boeing 787 Dreamliner        American Airlines    22.0
17  Boeing 787 Dreamliner               Air Europa    21.0
39  Boeing 787 Dreamliner                 Oman Air    21.0
24  Boeing 787 Dreamliner          British Airways    20.0
26  Boeing 787 Dreamliner           Delta Airlines    18.0
4             Airbus A380  China Southern Airlines    17.0
15  Boeing 787 Dreamliner               Air Canada    16.0
30  Boeing 787 Dreamliner           Japan Airlines    14.0
18  Boeing 787 Dreamliner               Air France    13.0
32  Boeing 787 Dreamliner                      KLM    13.0
25  Boeing 787 Dreamliner  China Southern Airlines    12.0
35  Boeing 787 Dreamliner     LATAM Airlines Chile    10.0
34  Boeing 787 Dreamliner               Korean Air    10.0
49  Boeing 787 Dreamliner         Vietnam Airlines     9.0
16  Boeing 787 Dreamliner                Air China     9.0
29  Boeing 787 Dreamliner          Hainan Airlines     8.0
27  Boeing 787 Dreamliner       Ethiopian Airlines     7.0
23  Boeing 787 Dreamliner                  Avianca     6.0
19  Boeing 787 Dreamliner                Air India     5.0
12            Airbus A380       Singapore Airlines     5.0
11            Airbus A380            Qatar Airways     4.0
43  Boeing 787 Dreamliner   Saudi Arabian Airlines     4.0
20  Boeing 787 Dreamliner          Air New Zealand     3.0
14  Boeing 787 Dreamliner               Aeromexico     3.0
47  Boeing 787 Dreamliner          Thomson Airways     3.0
1             Airbus A380       All Nippon Airways     3.0
36  Boeing 787 Dreamliner      LOT Polish Airlines     2.0
46  Boeing 787 Dreamliner             Thai Airways     2.0
6             Airbus A380           Etihad Airways     2.0
2             Airbus A380          Asiana Airlines     1.0